/* Petits écrans */
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #fff;
}
body {
  margin: 0;
  font-family: Raleway, Encode Sans Semi Expanded,  Montserrat ExtraLight, Lane, Sansumi-Regular, Coco Gothic UltraLight, Work Sans ExtraLight, Drugs, Walkway, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 1.1em;
  line-height: normal;
  font-size-adjust: none;
  font-stretch: normal;
  color: #000;
  

}
a {
  text-decoration:none;}


/* Header */
header a:active {
  color:#000; 
}

header a:visited {
  color:#0065FC; 
  text-decoration:none;}
  
  
/* Main */


/* Footer */
footer ul {
  list-style-type: none;

 }

 footer a:visited:active {
  color: #000;
 }

/* PC de bureau */
@media screen and (min-width:1023px){ 


}





