/* Petits écrans */
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #fff;
}
body {
  margin: 0;
  font-family: Tahoma,Arial,Verdana,sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 1.1em;
  line-height: normal;
  font-size-adjust: none;
  font-stretch: normal;
  color: #000;
  

}
a {
  color:#6200FF; 
  text-decoration:none;}

/* Page */

/* liens sélectionnés 6200FF */

/* Footer */
footer ul {
  list-style-type: none;

 }

/* PC de bureau */
@media screen and (min-width:1023px){ 


}





